@import url('https://fonts.google.com/specimen/Poppins?query=popp');

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bg.jpg');
    background-size: cover;
    height: 100vh;
}

.otp-card {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 10px 40px -20px black;
}

.otp-card-input {
    margin: 30px 0;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
}

.otp-card-inputs input {
    width: 65px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
}

.otp-card-input input:focus {
    outline: 2px solid blueviolet;
    border-color: transparent;
}

.otp-card button {
    background-color: blueviolet;
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}

.otp-card button:hover {
    opacity: .9;
}

.otp-card button[disabled] {
    opacity: .6;
    cursor: default;
}