@import url('https://fonts.google.com/specimen/Poppins?query=popp');


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    // background:linear-gradient(45deg,$primary-color,$secondary-color);
    background-image: url('./bg_image.jpg');
    background-size: cover;
    padding: 45px;
}

.container {
    min-height: calc(100vh - 50px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 15px;
    min-width: auto;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: white;
}

.login-right {
    background-color: white;
    display: flex;
    justify-content: center;

    img {
        width: 70%;
        height: 90%;
        padding-top: 80px;
    }
}

.login-header {
    margin-bottom: 50px;
    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        opacity: .7;
    }
}

.login-form {
    width: 450px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-footer {
        display: flex;
        gap:30px;
        margin-top: 50px;

        a {
            flex: 6;
            gap: 15px;
            border: 1px solid black;
            border-radius: 100px;
            padding: .6rem;
            justify-content: center;
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            font-size: 15px;

            &:hover {
                background-color: #eee;
            }

        }
    }
}

.form-item label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    border:1px solid black;
    height: 55px;
    padding: 0 2rem;
    outline: none;
    width: 100%;
    transition: backround .5s;
    font-size: 18px;
    border-radius: 100px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    accent-color: blueviolet;
}

button {
    border:none;
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

/* Responsive */

@media (max-width:1350px) {
    .login-left {
        padding: 50px !important;
    }

    .login-form {
        width: 100%;

        &-footer {
            flex-direction: column;
            gap: 15px;
        }
    }
}
@media (max-width:768px) {
    body {
        padding: 20px;

        .container {
            grid-template-columns: auto;
        }

        .login-right {
            display: none;
        }
    }
}
